.site-nav{
    background-color: LightCyan;
    list-style: none;
    padding: 0;
    width: 200px;
    border: 1px solid LightBlue;
}

.site-nav .site-nav-item {
    border-bottom: 1px solid lightblue;
    padding: 5px;

}
.site-nav .site-nav-item:last-child {
    border-bottom: none;
}
.site-nav .site-nav-item a {
    color: black;
    text-decoration: none;
}
.site-nav .site-nav-item a:hover {
    text-decoration: underline;
    
}